body {
  font-family: "Nunito", sans-serif;
}
h1 {
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.form-control {
  width: 200px;
  display: inline;
  margin: 0;
}
.weatherApp {
  margin: 15px auto 10px auto;
  background-image: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
  padding: 18px;
  max-width: 390px;
  height: 610px;
  border: 0.5px solid #aeb2b8;
  border-radius: 10px;
  box-shadow: 0 3px 16px 0 gainsboro;
}
.codedBy {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#current-location {
  vertical-align: top;
  text-align: center;
}
#display-time {
  margin-left: 80px;
}
#units {
  font-size: 20px;
}
#temperature {
  font-size: 80px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
#description {
  text-align: center;
  position: relative;
  margin-top: -15px;
}
#parameters {
  margin-top: 40px;
  text-align: center;
}
#button {
  margin-top: 9px;
}
#description {
  font-weight: bold;
  font-style: italic;
}
#weather-icon {
  height: 50px;
  width: 50px;
  font-weight: bold;
  font-size: 17px;
}
